/* import buttons will be here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");

/* predefined tags */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 36px;
}
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* Either use position sticky or if using absolute then also set top : 0px ,left : 0px ,right:0px */
header {
  position: sticky;
  background: #ffffff;
  top: 0px;
  z-index: 9999999;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
}

/* here the main section will be here */
.header-section {
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  background: #ffffff;
}

.header-image {
  width: 150px;
}

.header-image img {
  width: 100%;
}

/* .header-section div {
  margin-right: 26px;
} */

.header-links ul li {
  display: inline;
  padding-right: 37px;
}

.header-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-button button {
  background-color: #6b5af9;
  border-radius: 5px;
  border: none;
  padding: 12px;
  width: 177px;
  height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.header-contactus {
  display: flex;
  align-items: center;
}

.social-media-logo {
  display: flex;
  padding-bottom: 12px;
}

.telegram {
  width: 17.78px;
  margin: 0;
  padding: 0;
}

.telegram img {
  width: 100%;
}

.whatsapp {
  width: 17.78px;
  margin: 0;
  padding: 0;
}

.whatsapp img {
  width: 100%;
}

.phone-time p {
  margin: 0;
  padding: 0;
}

.header-contactus div {
  margin-right: 12px;
}

.header-links {
  /* margin-left: 34px; */
}

.left-header-sec {
  display: flex;
  align-items: center;
}

/* Phone number style */
.phone-number span {
  font-size: 18px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: #2a2367;
}

/* Timing style */
.timings span {
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #2a2367;
}

.header-links ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #2a2367;
  font-weight: 700;
  /* font-family: 'm'; */
  font-family: "Montserrat", sans-serif;
}

/* Product overview */

.first-heading {
  margin-top: 67px;
}

.first-heading h1 span {
  color: #6b5af9;
  font-family: "Montserrat", sans-serif;
}

.heading1-para {
  margin-top: 33px;
}

.heading1-para p {
  color: #2a2367;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.heading1-para p span {
  color: #6b5af9;
  font-weight: 700;
  font-size: 16px;
}

.pr-2-sec {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.pr-1-sec {
  width: 653px;
}

.first-sec-btn {
  margin-top: 75px;
}

.first-sec-btn button {
  background-color: #6b5af9;
  border-radius: 5px;
  border: none;
  padding: 12px;
  width: 275px;
  height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.para-content {
  margin-top: 42px;
  /* width: 472px; */
}

.para-content p {
  font-weight: 600;
  size: 12px;
}

.para-content p span {
  color: #6b5af9;
  font-weight: 700;
}

/* Card section */
.card-section {
  margin-top: 130px;
}

.card-section-heading h3 {
  color: #2a2367;
}

.card-section-heading h3 span {
  color: #6b5af9;
}

.card1-Number span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  text-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
}
.card1-heading {
  position: relative;
}
.card1-heading::before {
  content: " ";
  position: absolute;
  width: 50%;
  border-bottom: 2px solid #e37575;
  bottom: 0px;
  top: 30px;
}

.card1-heading span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #2a2367;
}

.card1-content {
  margin-top: 20px;
}

.card1-content span p {
  font-size: 12px;
  font-weight: 400;
}

.card-grids-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-top: 40px;
}

.card-1 {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 15%);
  border-radius: 10px;
}

.card-section {
  margin-top: 94px;
}

.card-section-btn {
  text-align: center;
  margin-top: 40px;
}

.card-section-btn button {
  background-color: #6b5af9;
  border-radius: 5px;
  border: none;
  padding: 12px;
  width: 275px;
  height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

/* feature section */

.feature_section {
  margin-top: 100px;
}

.feature-heading h3 span {
  color: #6b5af9;
}

.features-section_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_heading span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6b5af9;
  padding-left: 13px;
}
.mob_content_sec ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2a2367;
}
.content_heading {
  padding-bottom: 10px;
  padding-left: 15px;
}

/* for image */
.mob_img_sec {
  width: 522px;
}
.mob_img_sec img {
  width: 100%;
}
/* feature section button */
.featuresec_btn {
  margin-top: 45px;
  text-align: center;
}

.featuresec_btn button {
  background-color: #6b5af9;
  border-radius: 5px;
  border: none;
  padding: 0px;
  width: 275px;
  height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

/* Image Section */
.image-main-sec {
  margin-top: 112px;
  background: #F0D577;
  border-radius: 10px;
  padding: 40px;
}
.image-main-sec-inner {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-certi {
  display: flex;
}
.certi-img img {
  width: 100%;
}
.certi-img {
  text-align: center;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.certi-one {
  text-align: center;
  width: 300px;
}
.certi-heading p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #9F9F9F;
  margin: 0px;
    padding: 0px;
}

.troffe-sec {
  width: 360px;
}
.troffe-sec img {
  width: 100%;
}
